.App {
  text-align: center;
}

.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 3px #bebebe;
}

.header {
    color: #0e3c7e;
}

.adDesignerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

.ad {
    height: 150px;
    width: 220px;
    border: 3px solid #222;
    box-shadow: 1px 3px 3px 3px #bebebe;
    background-color: #fff;
    padding: 20px;
    color: #000;
    font-weight: 700;
}

.adLight {
    background-color: #fff;
    color: #000;
    border: 3px solid #222;
}

.adDark {
    background-color: #222;
    color: #fff;
    border: 3px solid #fff;
}

.adDesignerSubHeaders {
    font-size: 1rem;
}

button {
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 5%;
    background-color: #0e3c7e;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    margin: 5px;
}

button:active {
    background-color: #1e60a9;
}

button:disabled {
    background-color: gray;
}