body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: Caveat;
  font-size: 3rem;
}

h2 {
  font-family: Caveat;
  font-size: 2rem;
}

button {
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 5%;
    background-color: #0e3c7e;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    margin: 5px;
}

button:active {
    background-color: #1e60a9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
